@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';


*:focus {
  outline: none;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: rgb(39, 52, 61);
  color: #F5F8FA;
}


.tn-popover {
  padding: 1rem;
}

.world-config {
  left: 0;
  bottom: 0;
}

table.detail-table {
  font-size: 14px;
  border-spacing: 0;
}

table.detail-table tr td:first-child {
  font-weight: bold;
  padding-right: 1rem;
}

#root {
  height: 100vh;
}

#worldviewer {
  width: 100%;
  height: 100%;
}

.bp3-navbar {
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.5);
}

label.bp3-checkbox, label.bp3-radio {
  user-select: none;
}


.margin-h-1 {
  margin: 0 1rem;
}

.margin-v-1 {
  margin: 1rem 0;
}

.margin-1 {
  margin: 1rem;
}
